<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<connectionStrings>
		<add name="HackatonDbCtx" connectionString="Server=tcp:hackathondatabase.database.windows.net,1433;Database=HackathonDatabase;User ID=dbmaster@hackathondatabase;Password=Zlewa500;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
	</connectionStrings>
    <appSettings>
      <add key="ApiUri" value="https://api.um.warszawa.pl/api/action/datastore_search?resource_id=ed6217dd-c8d0-4f7b-8bed-3b7eb81a95ba&amp;limit=100" />
      <add key="ApiUsername" value="soivek" />
      <add key="ApiPassword" value="powaznyteam" />
    </appSettings>
</configuration>