@model System.Collections.Generic.List<Shared.Dtos.EventDto>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
     <p>@Model.Count</p>
</div>
</body>
</html>